.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding:10px 90px;
}
@media only screen and (max-width: 600px) {
    .products{
        grid-template-columns: 1fr;
    }
  }