.product{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 95, 71);
    /* padding: 10px 5px; */
    position: relative;
    overflow: hidden;
    max-width: 400px;
}
.info{
    background-image:linear-gradient(rgba(235, 235, 235, 0),rgb(172, 172, 172));
    height:250px;
    padding: 20px;
    color: rgb(37, 0, 42);
}
.product button{
    background: rgb(16, 104, 110);
    border:none;
    width:100%;
    padding: 10px 0;
    position:absolute;
    bottom: 0;
    left:0;
    color: antiquewhite;
}
.product img{
 width: 100%;
 margin-bottom: 50px;
 padding:20px
}
.icon{
margin-left: 10px;
}