.cartProduct{
    display: flex;
    align-items: center;
}
.cartProduct img{
    width:40px;
    height: 40px;
    /* border-radius: 50%; */
    padding: 10px;
}
.cartProduct p{
    font-size: .8rem;
}
.cartProduct FontAwesomeIcon {
    cursor: pointer;
}